#one{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn{
  padding: 10px;
  border-radius: 15%;
  margin:5px
}

.Alphabets{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numbers{
  display: flex;
  align-items: center;
}

.Games{
  display: flex;
  align-items: center;
  justify-content: space-around;
}